@page
@model MyVoronegWeb5._0.Pages.AppModel
@{
}
<div class="text-center">
    <p style="text-indent: 25px; color:white">
        проект создан для улучшения качества жизни города,
        поиска новых интересных знакомств,
        работы, вовлеченных в вашу идею людей и создания комюнити
    </p>
    <br />
     
    <img class="card-img-overlay" src="~/img/Voroneg/3.png" width="100" height="200" />


    <p style="text-indent: 25px; color:white">
        Привет дорогой друг! Мы создали платформу "Мой Воронеж" с целью повысить качество жизни граждан.  <br />
    </p>
    <p style="text-indent: 25px; color:white">
       
        Ты творческий человек? Ищешь интересные знакомства, друзей или возможно свою вторую половинку? Присоединяйся!
    <p style="text-indent: 25px; color:white">
        Если у тебя есть идея, зачастую сложно реализовать ее в одиночку - эта платформа поможет найти тебе комюнити.
        <br />
    </p>
    <p style="text-indent: 25px; color:white">
        На этой платформе можно делиться бизнес-идеями, а так же любыми другими идеями , связанными с улучшениям города Воронеж
        <br />
    </p>
    <p style="text-indent: 25px; color:white">
        Мы часто выкладываем интересные вакансии и будем держать тебя всегда вкурсе последних новостей
        <br />
    </p>
    </p>

</div>